<div class="device">
    <div class="android" id="android">
            <img src="/images/devices/aura.png" class="android_img" id="android_img" alt="android">
            <p class="details"><img src="/images/SiteIconAndroid.svg">Aura for Mobiles</p>
        </div>
    <div class="pc">
            <img src="/images/devices/laptop.png" class="pc" alt="android">
            <p class="details">Aura for Windows/MAC/Linux</p>
    </div>
</div>
