<hr>
<div class="footer">
    <div class="foot_desc">
        <b>Telegram</b><br>
        Telegram is a cloud-based mobile and desktop messaging app with a focus on security and speed.
    </div>
    <div class="links">
        <div class="about">
            <p class="foot_title">About</p>
            <p class="foor_link">FAQ</p>
            <p class="foor_link">Privacy</p>
            <p class="foor_link">Press</p>
        </div>
        <div class="mobile">
            <p class="foot_title">Mobile</p>
            <p class="foor_link">Andriod</p>
            <p class="foor_link">IOS</p>
            <p class="foor_link">Ipad</p>
        </div>
        <div class="desktop">
            <p class="foot_title">Desktop</p>
            <p class="foor_link">Windows</p>
            <p class="foor_link">MAC</p>
            <p class="foor_link">Linux</p>
        </div>
        <div class="plateform">
            <p class="foot_title">Platefrom</p>
            <p class="foor_link">API</p>
            <p class="foor_link">Translations</p>
            <p class="foor_link">Instant view</p>
        </div>
    </div>
</div>
<script src="/script.js"></script>
</body>
</html>