<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/style.css">
<body>

<nav>
    <ul>
        <li>Home</li>
        <li>FAQ</li>
        <li>Apps</li>
        <li>API</li>
        <li>Protocol</li>
    </ul>
    <div class="decs">
        <div class="lang">
            <i class="fa-solid fa-earth-americas"></i>
        <select>
            <option active> EN</option>
            <option> GUJ</option>
        </select>
        </div>
        <div class="twitt" style="margin-left: 10px;">
            <i class="fa-brands fa-twitter"></i>Twitter
        </div>
    </div>
</nav>
<hr>
