<%- include("header.ejs") %>

<div class="main">

    <div class="landing_logo">
        <img class="logo" src="/images/telegram-gif.gif">
        <p class="landing_text">a new ERA of <span class="landing_text_black">Messaging</span></p>
        <a href="/teleweb/login"><button id="open_btn" class="open_btn">Open Aura Message</button></a>
    </div>
    <div class="latest">
        <div class="line"></div>
        
        <div class="cont">
            <p style="font-size: larger;font-style: bold;">Recent News</p>
            <div class="content">
                <p style="color: black;">Oct 14</p>
                <a href="#">Gifts, Verification Platform and More</a>
            </div>
            <div class="content">
                <p style="color: black;">Sep 6</p>
                <a href="#">Star Givaway and More</a>
            </div>
            <div class="content">
                <p style="color: black;">Aug 14</p>
                <a href="#">Super channels, Star Reactions and Subscription</a>
            </div>
        </div>
    </div>
</div>
<%- include("Device.ejs") %>
<%- include("recentNews.ejs") %>
<%- include("footer.ejs") %>