<div class="recentNews">
    <div class="News_title">What we  <span style="color: black;margin-left: 1rem;">Provides</span> ?</div>
    <div class="cards">
        <div class="card">
            <img src="/images/gifs/easy.gif" class="card_img" alt="">
            <div class="card_title">
                Easy to Use
            </div>
            <div class="card_content">
                <b>Telegram</b> easy to use you already know it.
            </div>
        </div>
        <div class="card">
            <img src="/images/gifs/privacy.gif" class="card_img" alt="">
            <div class="card_title">
                Privacy
            </div>
            <div class="card_content">
                <b>Telegram</b> messages are heavily encrypted and can self-destruct.
            </div>
        </div>
        <div class="card">
            <img src="/images/gifs/multipledevice.gif" class="card_img" alt="">
            <div class="card_title">
                Syned
            </div>
            <div class="card_content">
                <b>Telegram</b> lets you access your chats from multiple devices.
            </div>
        </div>
        <div class="card">
            <img src="/images/gifs/fast.gif" class="card_img" alt="">
            <div class="card_title">
                FAST
            </div>
            <div class="card_content">
                <b>Telegram</b> delivers messages faster than any other application.
            </div>
        </div>
        <div class="card">
            <img src="/images/gifs/load.gif" class="card_img" alt="">
            <div class="card_title">
                Powerful
            </div>
            <div class="card_content">
                <b>Telegram</b> has no limits on the size of your media and chats.
            </div>
        </div>
        <div class="card">
            <img src="/images/gifs/open.gif" class="card_img" alt="">
            <div class="card_title">
                Open
            </div>
            <div class="card_content">
                <b>Telegram</b> has an open <a href="https://core.telegram.org/api">API</a> and source code free for everyone.
            </div>
        </div>
        <div class="card">
            <img src="/images/gifs/security.gif" class="card_img" alt="">
            <div class="card_title">
                Security
            </div>
            <div class="card_content">
                <b>Telegram</b> keeps your messages safe from hacker attacks.
            </div>
        </div>
    </div>
</div>